<form [formGroup]="form" (submit)="submit()">
    <label>
        Meno:
        <input type="text" formControlName="firstName">
    </label>
    <p *ngIf="form.controls['firstName'].invalid" class="invalid-text">Zadajte meno</p>

    <label>
        Priezvisko:
        <input type="text" formControlName="lastName">
    </label>
    <p *ngIf="form.controls['lastName'].invalid" class="invalid-text">Zadajte priezvisko</p>

    <label>
        Email:
        <input type="email" formControlName="contact">
    </label>
    <p *ngIf="form.controls['contact'].invalid" class="invalid-text">Zadajte platnú e-mailovú adresu</p>

    <button type="submit" [disabled]="form.invalid">Uložiť</button>
    <button type="reset">Zrušiť</button>
</form>
