<div>
    <form [formGroup]="form" (ngSubmit)="saveBorrowing()">
        <input formControlName="id" type="text" placeholder="Id">
        <input formControlName="user" type="text" placeholder="Zadaj meno">
        <input formControlName="book" type="text" placeholder="Nazov knihy">
        <button type="submit">Pridat Vypozicku</button>
    </form>

    <table>
        <thead>
        <th>ID</th>
        <th>Meno</th>
        <th>Knihy</th>
        </thead>
        <tbody>
        <tr *ngFor="let borrowing of borrowings">
            <td>{{borrowing.id}}</td>
            <td>{{borrowing.book}}</td>
            <td>{{borrowing.user}}</td>
        </tr>
        </tbody>
    </table>
</div>