.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.binary-input {
  display: flex;
  flex-direction: row;
}

.binary-input input[type='checkbox'] {
  margin-right: 5px;
}
/* Общие стили */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
}

nav li:hover {
  background-color: #555;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #333;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Стили для меню Users */
#user-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#user-form-group input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#user-form-group button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#user-form-group button:hover {
  background-color: #555;
}

/* Стили для меню Books */
#book-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#book-form-group input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#book-form-group button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#book-form-group button:hover {
  background-color: #555;
}

/* Стили для меню Borrowing */
#borrowing-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#borrowing-form-group input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#borrowing-form-group button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

