<div class="input-container">
  <label>Desiatková sústava:</label>
  <input
    type="number"
    [(ngModel)]="decimalNumber"
    (ngModelChange)="decimalToBinary()"
  />
</div>
<div class="input-container">
  <label>Binárna sústava:</label>
  <div class="binary-input">
    <div *ngFor="let bit of binaryArray; let i = index; trackBy: trackByIndex">
      <input
        type="checkbox"
        [(ngModel)]="binaryArray[i]"
        (ngModelChange)="binaryToDecimal()"
      />
    </div>
  </div>
</div>
