

        <table *ngIf="borrowings.length">
            <tr>
                <th>ID</th>
                <th>USER ID</th>
                <th>BOOK ID</th>
            </tr>
            <tr *ngFor="let borrowing of borrowings">
                <td>{{ borrowing.id }}</td>
                <td>{{ borrowing.user}}</td>
                <td>{{ borrowing.book}}</td>
                <td>
                    <button (click)="deleteBorrowing(borrowing.id)" class="btn btn-danger">Delete</button>
                    <button (click)="editBorrowing(borrowing.id)" class="btn btn-secondary ml-2">Edit</button>
                </td>
            </tr>
        </table>
