<div>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <input formControlName="firstName" type="text" placeholder="Zadaj meno">
        <input formControlName="lastName" type="text" placeholder="Zadajte priezvisko">
        <input formControlName="emailContact" type="text" placeholder="Zadaj kontakt">
        <button type="submit">Pridat usera</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Meno</th>
            <th>Kontakt</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.contact}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h1>Users</h1>

